body {
  margin: 0;
}

main {
  border: 5px solid blue;
}



/* Read More */
.article-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles {
  border: 2px solid green;
  margin: 2rem;
  width: 1200px;
}

[data-expandable] [data-expand-text] {
  --line-height: 1.5;
  --lines-to-show: 3;
  position: relative;
  box-sizing: border-box;
  line-height: var(--line-height);
  overflow: hidden;
  height: calc(var(--line-height) * var(--lines-to-show) * 1em);
}

[data-expandable].expanded [data-expand-text] {
  height: initial;
}

/* Image Grid Container */
.img-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: .5rem;
  border: 2px solid red;
  width: 1200px;
  margin: 2rem;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.img-wrapper img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.img-wrapper > .content {
  position: absolute;
  inset: 0;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper > img,
.img-wrapper > .content {
  transition: 300ms ease-in-out;
}

.img-wrapper:hover > img.blur {
  filter: blur(5px);
}

.img-wrapper:hover > img.zoom {
  transform: scale(1.1);
}

.img-wrapper > .content.fade {
  opacity: 0;
}

.img-wrapper:hover > .content.fade {
  opacity: 1;
}